body {
    font-family: "Noto Sans", sans-serif;
}

.navbar-BG {
    background-color: #faedec;
    padding: 10px 20px;
    border-radius: 15px;
}

.logo_size {
    width: 60%;
}

.buy_btn {
    color: white;
    padding: 5px 8px;
    border-radius: 7px;
    background-color: black;
    border: none;
}

/* carousel-item */
.carousel-item p {
    color: gray;
    font-size: 15px;
}

/* Phone Section */
.phone_card {
    border: none;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.phone_card img {
    width: 100%;
}

.phone_card h5 {
    font-size: 21px;
    font-weight: 600;
}

.phone_card p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.phone_card button {
    color: white;
    padding: 4px 9px;
    border-radius: 7px;
    background-color: black;
    border: none;
    font-size: 15px;
}

/* Categories */
.bag,
.shoes,
.beauty {
    background-color: #faedec;
    border-radius: 10px;
}

.bag:hover,
.shoes:hover,
.beauty:hover {
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all linear 0.3s;
}

/* subscribe section starts */
.bg-color {
    background-color: #faedec;
    border-radius: 15px;
}

.subscribe-content button {
    color: white;
    border-radius: 7px;
    background-color: black;
    border: none;
    padding: 5px 30px;
    margin-top: 15px;
}


/* Responsive */
@media (max-width: 768px) {
    .phone_card img {
        width: 70%;
    }

    .carousel_text {
        text-align: center;
        margin-bottom: 25px;
    }

    .carousel_img {
        width: 100%;
    }
}