:root {
    --text-primary: #562EFF;
    --text-secondary: #000000;
    --text-three: #ED6B4F;
    --background-color: #FFFFFF;
    --font-family: "Poppins", sans-serif;
}

body {
    box-sizing: border-box;
    font-family: var(--font-family);
    background-color: #F3F1FF;
}

/* navbar */
.navbar img{
    max-width: 40px;
}

/* Player Part */
.player {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.player-text {
    color: var(--text-primary);
    font-size: 26px;
    font-weight: 600;
}

.player img {
    width: 56px;
}

.player h2 {
    font-size: 16px;
    font-weight: 600;
}
/* Blog Section */
.blog img {
    width: 177px;
}

.blog-text {
    color: var(--text-primary);
    font-size: 26px;
    font-weight: 600;
}

.blog_text_section h2 {
    font-size: 20px;
    font-weight: 600;
}

.blog_text_section p {
    color: #9F9F9F;
    font-size: 16px;
}

.blog_text_section span {
    color: var(--text-primary);
}

/* Courses Section */
.courses {
    border-radius: 5px;
}
.courses-head {
    color: var(--text-primary);
    font-size: 26px;
    font-weight: 600;
}
.courses-part img {
    width: 224px;
}

.courses-part h3 {
    font-size: 20px;
    font-weight: 600;
}
.courses-part p {
    font-size: 14px;
    color: var(--text-three);
}

.courses-part-footer img {
    width: 15px;
    height: 15px;
}

.clock {
    background-color: #f5a593;
    border-radius: 15px;
    width: 95px;
    height: 30px;
}